::selection {
  background: indigo;
  color: aquamarine;
}

:root {
  background-color: aquamarine;
  background-image: radial-gradient(turquoise, chartreuse, aquamarine);
  color: #415;
}

:any-link {
  color: indigo;
}
