::selection {
  background: aquamarine;
  color: purple;
}

:root {
  background-color: black;
  background-image: radial-gradient(indigo, #415, #510);
  color: turquoise;
}

:any-link {
  color: aquamarine;
}
